<IfModule mod_headers.c>
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Blocks .gitignore
Redirect /.gitignore /error

# Blocks file system paths
RedirectMatch 301 ^/src /error
RedirectMatch 301 ^/config /error
RedirectMatch 301 ^/var /error

# Redirects errors on service error page
ErrorDocument 404 src/Template/error.php
ErrorDocument 403 src/Template/error.php
ErrorDocument 500 src/Template/error.php
