body{
    background-color: white;

    font-family: "Liberation Serif", serif;
    font-size: 19px;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;

    padding-top: 0;
    padding-left: 0;

    width: 20%;
    height: 40%;

    min-width: 12rem;
    min-height: 16rem;

    transform: translate(-50%, -70%);

    background-color: #afacac;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 10px 10px #afacac;
}

form{
    position: absolute;

    min-width: 100%;
    min-height: 100%;

    background-color: #afacac;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 5px 5px #afacac;
}

input, button{
    width: 90%;

    min-height: 1.5rem;

    border: solid 1px grey;
    border-radius: 5px;

    margin: 1% 5% 2% 5%;

    font-size: 15px;
}

button{
    position: absolute;

    width: 20%;
    left: 35%;

    font-family: "Liberation Serif", serif;
    font-size: 18px;
}

button:hover{
    background-color: #73e8e8;
}

form p{
    margin: 8% 0 0 5%;
}

#error_email, #error_password {
    position: fixed;
    margin: 0 0 0 7.5%;

    font-size: 16px;
    color: #d90000;
}

a{
    font-size: 16px;
}

#error_login {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    font-size: 17px;
    color: red;
}
