body {
    background-color: rgb(220, 217, 209);

    font-family: "Liberation Serif", serif;
    font-size: 19px;
}

#from_background {
    position: absolute;
    top: 50%;
    left: 50%;

    padding-top: 0;
    padding-left: 0;

    width: 20%;
    height: 40%;

    min-width: 12rem;
    min-height: 16rem;

    transform: translate(-50%, -70%);

    background-color: rgba(100, 72, 37, 0.17);
    border-radius: 5%;
    -webkit-box-shadow: 0 0 5px 5px rgba(100, 72, 37, 0.17);
}

#login_form {
    position: absolute;

    min-width: 100%;
    min-height: 100%;

    background-color: rgba(100, 72, 37, 0.17);
    border-radius: 5%;
    -webkit-box-shadow: 0 0 2px 2px rgba(100, 72, 37, 0.17);
}

.login_input, #submit_button {
    width: 90%;

    min-height: 1.5rem;

    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;

    margin: 1% 5% 2% 5%;

    font-size: 15px;
}

#submit_button {
    position: absolute;

    width: 20%;
    left: 35%;

    font-family: "Liberation Serif", serif;
    font-size: 18px;
}

form p {
    margin: 8% 0 0 5%;
}

#error_email, #error_password {
    position: fixed;
    margin: 0 0 0 7.5%;

    font-size: 16px;
    color: #d90000;
}

a {
    font-size: 16px;
}

#error_login {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    font-size: 17px;
    color: red;
}
